﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Visita permite a consulta de dados de Meteorologia:

<li>Lidos a determinada data e hora</li>
<li>Lidos num determinado POI(Point of Interest)</li>
<li>Via API Cancela</li>
<li>Lidos num determinado range de data e de hora</li>
</p>
