﻿<div class="jumbotron">
    <h3><strong>Cancela</strong></h3>
    <p class="lead">A API Cancela permite CRUD dos dados dos sensores (Metereologias) e dos POI(Points Of Interest)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <p><img src="http://recipp.ipp.pt/retrieve/19893"></p>
    </div>
</div>
