﻿<div class="jumbotron">
    <h3><strong>Visita</strong></h3>
    <p class="lead">A aplicação Visita permite a consulta de dados de Meteorologias.
</div>
<div class="row">
    <div class="col-md-4">
        <p><img src="http://recipp.ipp.pt/retrieve/19893"></p>
    </div>
</div>