﻿@model Visita.ViewModel.viewModel
@{
    ViewBag.Title = "Search by Date and Hour (Range)";
}

<h2>Search by Date and Hour (Range)</h2>


@using (Html.BeginForm(Html.BeginForm("SearchDatenHourRangetoAPI", "ApiRequests", FormMethod.Post)))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Data de Início:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.data_de_leitura_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_de_leitura_inicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_de_leitura_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Data de Fim:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.data_de_leitura_fim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_de_leitura_fim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_de_leitura_fim, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Hora de Início</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.hora_de_leitura_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_de_leitura_inicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hora_de_leitura_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Hora de Fim</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.hora_de_leitura_fim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_de_leitura_fim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hora_de_leitura_fim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>