﻿@model ModelLibrary.POI

@{
    ViewBag.Title = "Search By POI";
}

<h2>Search By POI</h2>

@using (Html.BeginForm("SearchByPOItoAPI","ApiRequests",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.POIId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("POIId", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.POIId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>