﻿@model IEnumerable<ModelLibrary.Metereologia>

@{
    ViewBag.Title = "Search Date and Hour to API (Range)";
}

<h2>Metereologias</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.local.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.local.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vento)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>

