﻿@model ModelLibrary.Metereologia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Metereologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_de_leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_de_leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_de_leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_de_leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.humidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.humidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pressao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pressao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
