﻿@model IEnumerable<ModelLibrary.Metereologia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pressao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_de_leitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora_de_leitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.humidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pressao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MetereologiaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MetereologiaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MetereologiaId })
        </td>
    </tr>
}

</table>
