﻿@model IEnumerable<ModelLibrary.POI>

@{
    ViewBag.Title = "Index";
}
@using Microsoft.AspNet.Identity;
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.local.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.local.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @if (item.userID == User.Identity.GetUserId())
            {
                 @Html.ActionLink("Edit", "Edit", new { id = item.POIId }) 
            }

            @if (item.userID == User.Identity.GetUserId())
            {
                 @Html.ActionLink("Delete", "Delete", new { id = item.POIId }) 
            }
            @Html.ActionLink("Details", "Details", new { id = item.POIId })
            
            
        </td>
    </tr>
}

</table>
