﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    <strong>Lugares que permite o CRUD de POIs (Points of Interest).</strong>
    <p>
    <strong>Para criar um POI é necessário:</strong>

    <li>Existir pelo menos um local para associar o mesmo</li>
    <li>Indicar o nome</li>
    <li>Indicar uma descrição</li>
<p>
    <strong>Para criar um local é necessário:</strong>
    <li>Indicar a latitude</li>
    <li>Indicar a longitude</li>
    <li>Indicar o nome</li>

</p>