﻿<div class="jumbotron">
    <h3><strong>Lugares</strong></h3>
    <p class="lead">Lugares que permite o CRUD de Pontos de Interesse (POI)
</div>
<div class="row">
    <div class="col-md-4">
        <p><img src="http://recipp.ipp.pt/retrieve/19893"></p>
    </div>
</div>